@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
:root{
    --cor-texto: #DDDDDD;
    --cor-fundo: #001F3F;
    --cor-segundaria: #3A6D8C;
    --cor-bege: #EAD8B1;
}